*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'MainFont', sans-serif;
    font-weight : 400
}

@font-face {
    font-family: 'MainFont';
    src: url('./font/Domine-Regular.ttf');
}
